.container {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 3px 3px lightgray;
    border-radius: 10px;
    position: relative;
}

.text {
    visibility: hidden;
}

img {
    width: 100%;
    height: auto;
    transition: margin-top 0.5s ease-in-out;
}

.container:hover img {
    margin-top: -100px;
}

.container:hover .text {
    visibility: visible;
}

.container:hover {
    border: 2px solid rgb(228, 32, 160);
}

.img1 {
    margin-top: -100px;
}

.text1 {
    visibility: visible;
}

.container2 {
    border: 2px solid rgb(228, 32, 160);
    width: 300px;
    height: 300px;
    box-shadow: 0 0 3px 3px lightgray;
    border-radius: 10px;
    position: relative;
}

.container input {
    border-radius: 5px;
}